<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>

  <body>
    <app-navbar [user]="user"></app-navbar>
    
    <div class=logo>
        <img src="assets/images/Home.png" alt="logo" style="width:700px;" class="center">
      </div>
  
    <div class=heading class="center">
        <h1 style="font-family:'Avenir'">Welcome to Tessello Score</h1>
    </div>
    

    
  </body>
</html>
